#root{
  direction: rtl;
  text-align: right;
  font-family: Vazir;
  font-weight: 300;
}
.dropdown-menu.show {
  right: 0rem;
}
.dropdown-toggle::after {
  margin-bottom: -4px;
  margin-right: 4px;
}
.navbar-nav span[role=button] {
  padding: 15px;
  display: inline-block;
  line-height: 20px;
}
.list-group-horizontal > .list-group-item + .list-group-item.active {
  background-color: #343a40;
  border: none;
}
